<%- include ('partials/header', {username: ""}) -%>
  
<h2>Converting JSON Text into Javascript Object</h2>
<b>JSON Object :</b>
<p id="demo"></p>
<b>Use of Javascript object :</b>
<p id="demo1"></p>
  
<script>
var jsonobj ='{ "name":"Brendan Eich","designerof":"Javascript","bornin":"1961" }';
  
// Here we convert JSON to object
var obj = JSON.parse(jsonobj);
  
document.getElementById("demo1").innerHTML = 
                     obj.name + ", who was born in "
                     + obj.bornin + ", was the designer of "
                     + obj.designerof;
document.getElementById("demo").innerHTML =jsonobj;
</script>
<%- include ('partials/footer') -%>